[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = "*"
plotly = "*"
pandas = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.10"
